{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>About Us</h1>
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'images/about_image.webp' %}" alt="About our Cafe" class="img-fluid mb-3">
            <p>Welcome to Sahara Cafe & Beans! Founded in 2020, our cafe has been serving the community with the finest selection of coffees and pastries. Our mission is to provide a cozy and welcoming environment where you can relax, work, or catch up with friends.</p>
            
            <h3>Our Story</h3>
            <p>Our story began in the heart of the city, with a passion for providing top-quality coffee and delicious treats. We are committed to using only the freshest ingredients and the finest beans to craft each cup of coffee and pastry.</p>
            
            <h3>Meet the Team</h3>
            <p>Our team is made up of passionate baristas, skilled pastry chefs, and friendly staff who are all dedicated to making your experience at Sahara Cafe & Beans memorable.</p>
            
            <h3>Commitment to Quality</h3>
            <p>We believe in quality over quantity. That's why every cup of coffee is brewed to perfection, and every pastry is baked fresh daily. We source our beans from the best farms around the world and work closely with local suppliers to ensure that we offer the best products to our customers.</p>
            
            <p>We're more than just a café; we're a community. Whether you're a regular or it's your first visit, we can't wait to welcome you to Sahara Cafe & Beans!</p>
        </div>
    </div>
</div>
{% endblock %}
