{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h1>Contact Us</h1>
                <p class="lead">For inquiries, feedback, or greetings, Sahara Cafe & Beans is here to listen. Below are the ways you can connect with us:</p>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Visit Our Cafe</h3>
                    <p class="card-text">Al-Tayebat Street<br>Mecca, Saudi Arabia</p>
                    
                    <h3 class="card-title">Give Us a Call</h3>
                    <p class="card-text">+966 00 000 0000</p>
                    
                    <h3 class="card-title">Send Us an Email</h3>
                    <p class="card-text">hello@saharacafebeans.sa</p>
                    
                    <h3 class="card-title">Our Hours</h3>
                    <p class="card-text">Everyday: 7:00 AM - 11:00 PM</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}