{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Reserve a Table</h1>
            <form method="post" action="{% url 'reservations:make_reservation' %}">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- JavaScript to disable past dates and set minimum date to tomorrow -->
                <script>
                    window.addEventListener('DOMContentLoaded', function () {
                        var today = new Date();
                        var tomorrow = new Date(today);
                        tomorrow.setDate(tomorrow.getDate() + 1);
                        var tomorrowISO = tomorrow.toISOString().split('T')[0];
                        document.getElementById('id_date').setAttribute('min', tomorrowISO);
                    });
                </script>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Create a Reservation</button>
                </div>
                <div style="margin-top: 20px;" class="alert alert-secondary">
                    Reservations can only be made up to one day in advance
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}