{% extends "base.html" %}

{% load static %}

{% block title %}
Reservation Confirmation
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" role="alert">
                Unfortunately, the following date and time is already taken:
                <ul>
                    <li><strong>Date:</strong> {{ date }}</li>
                    <li><strong>Time:</strong> {{ time }}</li>
                </ul>
            </div>
            <p>Try again:</p><a class="btn btn-primary btn-sm" href="{% url 'reservations:reserve_table' %}"> Make Reservation</a>
            <a href="{% url 'accounts:profile_detail' %}" class="btn btn-outline-danger btn-sm">My reservations</a>
        </div>
    </div>
</div>

{% endblock %}