{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Reserve a Table</h1>
            <form method="post" action="{% url 'reservations:make_reservation' %}">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- JavaScript to disable past dates and set minimum date to tomorrow -->
                <script>
                    window.addEventListener('DOMContentLoaded', function () {
                        var today = new Date();
                        var tomorrow = new Date(today);
                        tomorrow.setDate(tomorrow.getDate() + 1);
                        var tomorrowISO = tomorrow.toISOString().split('T')[0];
                        document.getElementById('id_date').setAttribute('min', tomorrowISO);
                    });
                </script>

                <div class="text-center">
                    <!-- Display different content based on user profile existence -->
                    {% if user.profile %}
                        <button type="submit" class="btn btn-outline-dark">Create a Reservation</button>
                    {% else %}
                        <a href="{% url 'accounts:create_profile' %}" class="btn btn-outline-dark">Create Profile to Make Reservation</a>
                    {% endif %}                </div>
            </form>
            <div style="margin-top: 20px;" class="alert alert-secondary">
                <strong>Reservation Policy:</strong>
                <ul>
                    <li>Reservations can only be made up to one day in advance.</li>
                    <li>Reservations cannot be cancelled within 2 days of the reservation date.</li>
                    <li>If you need to modify or cancel your reservation, please contact us at least 2 days in advance.</li>
                    <li>Please arrive on time for your reservation. We may not be able to hold your table for more than 15 minutes.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}