{% extends "base.html" %}

{% load static %}

{% block title %}
Reservation Confirmation
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Reservation Confirmed!</h1>
            <div class="alert alert-success" role="alert">
                Congratulations! Your reservation has been successfully created.
            </div>
            <h2>Reservation Details:</h2>
            <ul>
                <li><strong>Number of Guests:</strong> {{ number_of_guests }}</li>
                <li><strong>Date:</strong> {{ date }}</li>
                <li><strong>Time:</strong> {{ time }}</li>
            </ul>
            <p>We appreciate you choosing Café Sahara & Beans for your upcoming visit. We're excited to welcome you!</p>
            <p>Warm regards,<br>/team Café Sahara & Beans</p>
            <a class="btn btn-outline-dark" href="{% url 'home' %}">Navigate back to Home</a>
            <a href="{% url 'accounts:profile_detail' %}" class="btn btn-outline-success">My reservations</a>
        </div>
    </div>
</div>

{% endblock %}