@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Typography */
  --font-primary: "Roboto", sans-serif;
  --font-size-base: 16px; /* Base font size */
  --font-size-small: 0.8rem; /* Smaller text size for captions, etc. */
  --font-size-large: 1.25rem; /* Larger text size for headings */

  /* Color Scheme */
  --main-color: #a0522d; /* A warm brown, like coffee */
  --accent-color: #deb887; /* A light, creamy color */
  --background-color: #fde6b8; /* A soft, off-white background */
  --box-shadow-color: 0px 10px 20px 5px rgba(0, 0, 0, 0.5); /* box shadow */
}

/* Header */

.navbar {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-color);
}

.navbar .navbar-brand {
  margin-right: 30px; /* Add margin to create space between logo and other elements */
}

img.logo {
  width: 7rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: var(--font-size-base) var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

main {
  flex: 1 0 auto;
  background-color: var(--accent-color);
}

.active {
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
}

/* ----- Forms ----- */

.form-text {
  color: black;
}

#id_password_helptext a {
  color: black;
}

#id_password_helptext a:hover {
  color:blue;
}

/* buttons for forms */

#change_email_trigger {
  margin-bottom: 10px;
}

/* Sign in */

#div_id_remember {
  display: table;
}

#id_password1_helptext {
  text-align: left;
}

/* change password */

/* first input */
#id_password1,
#id_password2 {
  display: block;
}

/* notification when password changed */
.password-changed {
  margin-top: 50px;
}

/* for all forms usin card-body class */

.card-body {
  background-color: var(--background-color);
}

/* Custom CSS to limit form width */
@media (min-width: 768px) {
  .reservation_form,
  .sign_out_alert {
    max-width: 768px;
    margin: auto; /* Centers the form */
  }
}

