{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>{% if form.instance.pk %}Edit Profile{% else %}Create Profile{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.phone_number.label_tag }} {{ form.phone_number }}<br>
        {{ form.address.label_tag }} {{ form.address }}<br>
        {{ form.image.label_tag }} {{ form.image }}<br>
        <label for="change_email_trigger">If you want to change email, click here:</label>
        <button type="button" id="change_email_trigger">Change Email</button><br>
        <div id="new_email_section" style="display: none;">
            {{ form.new_email.label_tag }} {{ form.new_email }}<br>
            <p>Make sure to verify your email if you change your email. Check your inbox for the verification email.</p>
        </div>
        <!-- Display email as read-only text only if its verified -->
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Save{% else %}Create Profile{% endif %}</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const changeEmailTrigger = document.getElementById('change_email_trigger');
        const newEmailSection = document.getElementById('new_email_section');
    
        changeEmailTrigger.addEventListener('click', function() {
            if (newEmailSection.style.display === 'none') {
                newEmailSection.style.display = 'block';
            } else {
                newEmailSection.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
