{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>{% if form.instance.pk %}Edit Profile{% else %}Create Profile{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.phone_number.label_tag }} {{ form.phone_number }}<br>
        {{ form.address.label_tag }} {{ form.address }}<br>
        {{ form.image.label_tag }} {{ form.image }}<br>
        {{ form.new_email.label_tag }} {{ form.new_email }}<br>
        <!-- Display email as read-only text only if its verified -->
        {% if form.instance.user.email_verified %}
            <!-- Display the new email only if it's verified and it matches the current email -->
            <p><strong>Email:</strong> {{ form.instance.user.email }}</p>
        {% else %}
            <!-- Display a message indicating the new email is pending verification -->
            <p><strong>Email:</strong> Email verification pending for {{ form.new_email.value }}. Check your inbox for verification email.</p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
