{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- Profile Information -->
  <h2>Profile Information</h2>
  {{ email_message }}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            {% if profile %}
                <h2>My Profile</h2>
                <p><strong>Name:</strong> {{ profile.user.username|default:"No name set" }}</p>
                <p><strong>Phone:</strong> {{ profile.phone_number }}</p>
                <p><strong>Address:</strong> {{ profile.address }}</p>
                <p><strong>Email:</strong> {{ profile.user.email }}</p>
                <!-- Display email as read-only text only if its verified -->
                {% if profile.user.email_verified %}
                    <!-- Display the new email only if it's verified and it matches the current email -->
                    <p><strong>Email:</strong> {{ profile.user.email }}</p>
                {% else %}
                    <!-- Display a message indicating the new email is pending verification -->
                    <p><strong>Email:</strong> Email verification pending for {{ profile.user.email }}. Check your inbox for verification email.</p>
                {% endif %}

                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'images/default_.webp' %}" alt="Default Profile Image" style="width: 300px; height: auto;">
                {% endif %}

                {% if request.user == profile.user %}
                    <form method="post" action="{% url 'accounts:delete_profile' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                        <a class="btn btn-outline-secondary btn-sm" href="{% url 'accounts:edit_profile' %}">Edit</a>
                    </form>
                {% endif %}
                
                <h2>My Reservations</h2>
                <ul>
                    {% if reservations %}
                        {% for reservation in reservations %}
                            <li>
                                Reservation for {{ reservation.date }} at {{ reservation.time }}
                                <a href="{% url 'reservations:cancel_reservation' reservation.id %}" class="btn btn-outline-danger btn-sm">Cancel</a>
                                <a href="{% url 'reservations:edit_reservation' reservation.id %}" class="btn btn-outline-danger btn-sm">Edit</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>No reservations yet.</p>
                    {% endif %}
                </ul>
                
            {% else %}
            <h2>No Profile set up yet...</h2>
            <p>Easy peasy, just click on Create Profile</p>
            <a href="{% url 'accounts:create_profile' %}" class="btn btn-primary">Create Profile</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}