{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-10">
            <h1>{% if form.instance.pk %}Edit Profile{% else %}Create Profile{% endif %}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.phone_number|as_crispy_field }}
                <br>
                {{ form.image|as_crispy_field }}
                <br>
                {{ form.address|as_crispy_field }}
                <br>
                <label for="change_email_trigger">If you want to change email, click here:</label>
                <button type="button" id="change_email_trigger" class="btn btn-outline-dark btn-sm">Change Email</button><br>
                <div id="new_email_section" style="display: none;">
                    {{ form.new_email|as_crispy_field }}
                    <br>
                    <p>Make sure to verify your email if you change your email. Check your inbox for the verification email.</p>
                </div>
                <!-- Display email as read-only text only if its verified -->
                <button type="submit" class="btn btn-dark">{% if form.instance.pk %}Save{% else %}Create Profile{% endif %}</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const changeEmailTrigger = document.getElementById('change_email_trigger');
        const newEmailSection = document.getElementById('new_email_section');
    
        changeEmailTrigger.addEventListener('click', function() {
            if (newEmailSection.style.display === 'none') {
                newEmailSection.style.display = 'block';
            } else {
                newEmailSection.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
